/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
    font-family: 'Archivo Black';
    src: url('./../../assets/fonts/archivoblack-regular-webfont.eot');
    src: url('./../../assets/fonts/archivoblack-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../../assets/fonts/archivoblack-regular-webfont.woff2') format('woff2'),
         url('./../../assets/fonts/archivoblack-regular-webfont.ttf') format('truetype'),
         url('./../../assets/fonts/archivoblack-regular-webfont.svg#archivo_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('./../../arimo-regular-webfont.eot');
    src: url('./../../arimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../../arimo-regular-webfont.woff2') format('woff2'),
         url('./../../arimo-regular-webfont.ttf') format('truetype'),
         url('./../../arimo-regular-webfont.svg#arimoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('./../../assets/fonts/arimo-bold-webfont.eot');
    src: url('./../../assets/fonts/arimo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../../assets/fonts/arimo-bold-webfont.woff2') format('woff2'),
         url('./../../assets/fonts/arimo-bold-webfont.ttf') format('truetype'),
         url('./../../assets/fonts/arimo-bold-webfont.svg#arimobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Text Roman';
    src: url('./../../assets/fonts/crimsontext-roman-webfont.eot');
    src: url('./../../assets/fonts/crimsontext-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../../assets/fonts/crimsontext-roman-webfont.woff2') format('woff2'),
         url('./../../assets/fonts/crimsontext-roman-webfont.ttf') format('truetype'),
         url('./../../assets/fonts/crimsontext-roman-webfont.svg#crimson_textroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Crimson Text Semibold';
    src: url('./../../assets/fonts/crimsontext-semibold-webfont.eot');
    src: url('./../../assets/fonts/crimsontext-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../../assets/fonts/crimsontext-semibold-webfont.woff2') format('woff2'),
         url('./../../assets/fonts/crimsontext-semibold-webfont.ttf') format('truetype'),
         url('./../../assets/fonts/crimsontext-semibold-webfont.svg#crimson_textsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}