/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'Archivo Black';
    src: url('archivoblack-regular.eot');
    src: url('archivoblack-regular.eot?#iefix') format('embedded-opentype'),
         url('archivoblack-regular.woff2') format('woff2'),
         url('archivoblack-regular.ttf') format('truetype'),
         url('archivoblack-regular.svg#archivo_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arimo';
    src: url('arimo-bold.eot');
    src: url('arimo-bold.eot?#iefix') format('embedded-opentype'),
         url('arimo-bold.woff2') format('woff2'),
         url('arimo-bold.ttf') format('truetype'),
         url('arimo-bold.svg#arimobold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Arimo';
    src: url('arimo-bolditalic.eot');
    src: url('arimo-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('arimo-bolditalic.woff2') format('woff2'),
         url('arimo-bolditalic.ttf') format('truetype'),
         url('arimo-bolditalic.svg#arimobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Arimo';
    src: url('arimo-italic.eot');
    src: url('arimo-italic.eot?#iefix') format('embedded-opentype'),
         url('arimo-italic.woff2') format('woff2'),
         url('arimo-italic.ttf') format('truetype'),
         url('arimo-italic.svg#arimoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Arimo';
    src: url('arimo-regular.eot');
    src: url('arimo-regular.eot?#iefix') format('embedded-opentype'),
         url('arimo-regular.woff2') format('woff2'),
         url('arimo-regular.ttf') format('truetype'),
         url('arimo-regular.svg#arimoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('crimsontext-bold.eot');
    src: url('crimsontext-bold.eot?#iefix') format('embedded-opentype'),
         url('crimsontext-bold.woff2') format('woff2'),
         url('crimsontext-bold.ttf') format('truetype'),
         url('crimsontext-bold.svg#crimson_textbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('crimsontext-bolditalic.eot');
    src: url('crimsontext-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('crimsontext-bolditalic.woff2') format('woff2'),
         url('crimsontext-bolditalic.ttf') format('truetype'),
         url('crimsontext-bolditalic.svg#crimson_textbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('crimsontext-italic.eot');
    src: url('crimsontext-italic.eot?#iefix') format('embedded-opentype'),
         url('crimsontext-italic.woff2') format('woff2'),
         url('crimsontext-italic.ttf') format('truetype'),
         url('crimsontext-italic.svg#crimson_textitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'crimson_textroman';
    src: url('crimsontext-roman.eot');
    src: url('crimsontext-roman.eot?#iefix') format('embedded-opentype'),
         url('crimsontext-roman.woff2') format('woff2'),
         url('crimsontext-roman.ttf') format('truetype'),
         url('crimsontext-roman.svg#crimson_textroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'crimson_textsemibold';
    src: url('crimsontext-semibold.eot');
    src: url('crimsontext-semibold.eot?#iefix') format('embedded-opentype'),
         url('crimsontext-semibold.woff2') format('woff2'),
         url('crimsontext-semibold.ttf') format('truetype'),
         url('crimsontext-semibold.svg#crimson_textsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'crimson_textsemibold_italic';
    src: url('crimsontext-semibolditalic.eot');
    src: url('crimsontext-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('crimsontext-semibolditalic.woff2') format('woff2'),
         url('crimsontext-semibolditalic.ttf') format('truetype'),
         url('crimsontext-semibolditalic.svg#crimson_textsemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}