/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/* Footer template */

.site-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color__background-templates;
    margin-left: auto;
    margin-right: auto;
        .newsletter-info-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 2rem;
            margin-bottom: 1rem;
            margin-right: auto;
            margin-left: auto;
            width: 325px;
        .inner-form-wrapper {
            position: relative;
            width: 325px;
            height: 3rem;
        .newsletter-form {
                border-radius: 0;
                height: 2.5rem;
                width: 70%;
                border: none;
            }
        .newsletter-submit-button {
            position: absolute;
            right: 0;
            top: 0;
            width: 6.55rem;
            height: 2.5rem;
            background: #b9cad8;
            border: none;
            color: $color__background-templates;
            text-transform: uppercase;
        }
        }
            a {
                color: $color__white-text;
                font-size: 0.5rem;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
        .button-wrapper {
            display: flex;
            justify-content: center;
            width: 325px;
            margin-right: auto;
            margin-left: auto;
        .faq-button {
            text-align: center;
            @include faq-button;
            background: transparent;
            text-transform: uppercase;
            margin-bottom: 2rem;
            font-size: 1.25rem;
            height: 2.5rem;
            width: 100%;
            a {
                text-decoration: none;
            }
            }
        }
        .social-media-icons-wrapper {
            display: flex;
            justify-content: space-around;
            width: 325px;
            padding-bottom: 2rem;
            margin-right: auto;
            margin-left: auto;
        }
        img {
            height: 48px;
            width: 48px;
            border-radius: 100%;
        }
        .instagram-icon {
            background: url(../../assets/icons/social-media/instagram.svg) no-repeat;
        }
        .facebook-icon {
            background: url(../../assets/icons/social-media/fb.svg) no-repeat;
        }
        .vimeo-icon {
            background: url(../../assets/icons/social-media/vimeo.svg) no-repeat;
        }
        @include media($desktop) {
        .footer-wrapper {
            width: 80%;
        }
        .social-media-icons-wrapper {
                height: 48px;
                width: 48px;
            }
        }
    }
