/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/* Footer template */

.site-footer {
    display: flex;
    justify-content: center;
    background-color: $color__background-templates;
        .footer-wrapper {
            max-width: 275px;
            margin: 0 auto;
        }
        .newsletter-info-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 2rem;
            margin-bottom: 2rem;
        .inner-form-wrapper {
            position: relative;
            width: 250px;
        .newsletter-form {
                border-radius: 0;
            }
        .newsletter-submit-button {
            position: absolute;
            right: 0;
            top: 0;
            width: 6rem;
            height: 2rem;
            background: #b9cad8;
            color: $color__background-templates;
        }
        }
            a {
                color: $color__white-text;
                font-size: 0.5rem;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
        .button-wrapper {
            display: flex;
            justify-content: center;
        .faq-button {
            text-align: center;
            @include faq-button;
            background: transparent;
            box-shadow: 0;
            text-transform: uppercase;
            margin-bottom: 2rem;
            font-size: 1.25rem;
            }
        }
        .social-media-icons-wrapper {
            display: flex;
            justify-content: space-around;
            padding-bottom: 2rem;
        }
        img {
            height: 50px;
            width: 50px;
        }
        .instagram-icon {
            background: url(../../assets/icons/social-media/instagram.svg) no-repeat;
        }
        .facebook-icon {
            background: url(../../assets/icons/social-media/fb.svg) no-repeat;
        }
        .vimeo-icon {
            background: url(../../assets/icons/social-media/vimeo.svg) no-repeat;
        }
        @include media($tablet) {
            display: flex;
            justify-content: space-between;
        }
    }
