/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/* Footer template */

.site-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color__background-templates;
    .footer-wrapper {
        margin-left: auto;
        margin-right: auto;
    }
        .newsletter-info-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 2rem;
            margin-bottom: 1rem;
            width: 325px;
            a {
                color: $color__white-text;
                font-size: 0.5rem;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        .inner-form-wrapper {
            position: relative;
            width: 325px;
            height: 3rem;
        .newsletter-form {
                border-radius: 0;
                height: 2.5rem;
                width: 70%;
                border: none;
                outline: none;
            }
        .newsletter-submit-button {
            position: absolute;
            right: 0;
            top: 0;
            width: 6.55rem;
            height: 2.5rem;
            background: #b9cad8;
            border: none;
            color: $color__background-templates;
            text-transform: uppercase;
            outline: none;
        }
    }

    }
        .faq-button-wrapper {
            display: flex;
            justify-content: center;
            padding-top: 2rem;
            width: 100%;
        .faq-button {
            text-align: center;
            @include faq-button;
            background: transparent;
            text-transform: uppercase;
            margin-bottom: 2rem;
            height: 2.5rem;
            width: 327px;
            outline: none;
            &:focus {
                outline: none;
            }
                a {
                    text-decoration: none;
                    font-size: 1.25rem;
                }
            }
        }
        .social-media-icons-wrapper {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;
            img {
                height: 48px;
                width: 48px;
                border-radius: 100%;
                margin-right: 1rem;
                margin-left: 1rem;
            }

        .instagram-icon {
            background: url(../../assets/icons/social-media/instagram.svg) no-repeat;
        }
        .facebook-icon {
            background: url(../../assets/icons/social-media/fb.svg) no-repeat;
        }
        .vimeo-icon {
            background: url(../../assets/icons/social-media/vimeo.svg) no-repeat;
        }
    }
    @include media($desktop) {
        .site-footer {
            display: flex;
            flex-direction: row;
        }
        .footer-wrapper {
            display: flex;
            justify-content: space-between;
            width: 825px;
            height: 165px;
            margin-top: 2rem;
            margin-bottom: 2rem;
            .newsletter-info-wrapper {
                padding-top: 0;
            }
            .faq-button {
                margin-bottom: 0;
            }
            .social-media-icons-wrapper {
                justify-content: space-between;
                flex-direction: row;
                margin-top: auto;
                margin-bottom: auto;
                a {
                    margin-right: 2rem;
                    width: 48px;
                    height: 48px;
                }
            }
        }
        }
}