.banner-container {
    text-align: center;
    background: url(../../assets/images/mobile/homepage/fakeBruce.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}