.home {
    h2 {
        text-align: center;
    }
}

// HERO BANNER SECTION
.banner-container {
    text-align: center;
    background: url(../../assets/images/mobile/homepage/fakeBruce.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
        width: 58%;
        margin: 0 auto;
    }
}

// CREDENTIALS SECTION
.homepage-credentials-container {
    background-color: #F4F5F6;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    .button-container {
        text-align: center;
        a {
            padding: 0.7rem 2.5rem;
            border: 3px solid #172944;
            background: rgba(23, 41, 68, 0.36);
        }
    }
    .credentials-container {
        margin-bottom: 2rem;
    }
}

.location-container {
    text-align: center;
    .avatar-picture {
        background: url(../../assets/images/mobile/homepage/brucePic.png);
        background-position: 29% 29%;
        height: 130px;
        width: 130px;
        border-radius: 50%;
        margin: 0 auto
    }
    p {
        margin: 0;
    }
}

.short-info-container {
    width: 55%;
    margin: 0 auto;
    p {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 1rem 0;
    }
}

.credentials-widgets-container {
    .widget-area {
        display: flex;
        justify-content: space-around;
        width: 93%;
        margin: 0 auto;
        .widget {
            position: relative;
            width: 100px;
            height: 100px;
            border: 1px solid #172944;
            background: #172944;
            border-radius: 50%;
            .textwidget {
                position: absolute;
                top: 35%;
                left: 9%;
                line-height: 1;
                text-align: center;
                width: 5rem;
            }
        }
        .certifications-widget-class .textwidget {
            top: 27%;
        }
    }
}

// PROGRAMS SECTION
.programs-container {
    text-align: center;
    .program-wrapper {
        position: relative;
        width: 175px;
        height: 185px;
        margin: 0 auto;
        border: 1px solid black;
        margin-bottom: 3rem;
        p {
            position: absolute;
            top: 6.5rem;
            left: 0;
            width: 100%;
        }
    } 
    div:first-child {
        .thumbnail-container {
            background: url(../../assets/icons/asl01.blue.svg);
        }
    }
    div:nth-child(2) {
        .thumbnail-container {
            background: url(../../assets/icons/asl02.blue.svg);
        }
    }
    div:nth-child(3) {
        .thumbnail-container {
            background: url(../../assets/icons/kayak.blue.svg);
        }
    }
    div:nth-child(4) {
        .thumbnail-container {
            background: url(../../assets/icons/paddleboard.blue.svg);
        }
    }
    div:nth-child(5) {
        .thumbnail-container {
            background: url(../../assets/icons/decision.making.blue.svg);
        }
    }
    div:nth-child(6) {
        .thumbnail-container {
            background: url(../../assets/icons/destination.blue.svg);
        }
    }
    div:nth-child(7) {
        .thumbnail-container {
            background: url(../../assets/icons/hiking.blue.svg);
        }
    }
    div:last-child {
        .thumbnail-container {
            background: url(../../assets/icons/skiing.blue.svg);
        }
    }
    div:nth-child(-n+8) {
        .thumbnail-container {
            width: 100%;
            height: 100%;
            background-size: 25rem;
        }
    }
    div:nth-child(-n+2) {
        .thumbnail-container {
            background-position: 48% 60%;
        }
    }
    div:nth-child(n+3):nth-child(-n+5), div:nth-child(n+7):nth-child(-n+8) {
        .thumbnail-container {
            background-position: 48% 55%;
            p {
                top: 7.5rem;
            }
        }
    }
    div:nth-child(6) {
        .thumbnail-container {
            background-position: 48% 57%;
            p {
                top: 7rem;
            }
        }
    }   
}