.site-header {
    height: 60px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    background: $color__background-templates;
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .site-branding {
            padding-left: 1.5rem;
            .logo {
                background: url(../../assets/logo/logo-white.no.text.png);
                background-size: contain;
                background-repeat: no-repeat;
                height: 45px;
                width: 50px;
            }
        }
        .main-navigation {
            width: 84px;
            height: 60px;
            display: flex;
            justify-content: center;
            &:hover {
                cursor: pointer;
            }
            .menu-toggle {
                background: url(../../assets/mobile_hamburger.png);
                border: none;
                background-repeat: no-repeat;
                background-size: contain;
                height: 31px;
                width: 41px;
                outline: none;
                align-self: center;
            }
        }
    }
}

.button-color-change {
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid grey;
}

.header-border-change {
    border-bottom: 1px solid grey;
}

.menu-click {
    position: fixed;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100vh;
    width: 100%;
    .menu-main-menu-container {
        margin-bottom: 3rem;
    }
    .menu-social-menu-container {
        margin: 0 1rem;
        ul {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

.nav-overlay {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    line-height: 2.5;
    a {
        font-size: 1.5rem;
        color: white;
        padding-left: 1.5rem;
        &:hover {
            background: $color__background-templates;
            color: white;
        }
        &:visited {
            color: white;
        }
    }
}

.social-icon-menu-item {
    display: block;
    text-indent: -76%;
    white-space: nowrap;
    overflow: hidden;
    color: #212121;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: white;
    a:hover {
            background: white;
    }
    
}

.menu-icon-instagram:before {
    font-family: FontAwesome;
    content: "\f16d";
    position: absolute;
    font-size: 2em;
    right: 1px;
    bottom: -18px;
}

.menu-icon-facebook:before {
    @extend .menu-icon-instagram:before;
    content: "\f09a";
    right: -2px;
    bottom: -19px;
}

.menu-icon-vimeo:before {
    @extend .menu-icon-instagram:before;
    content: "\f27d";
    right: 5px;
    bottom: -20px;
}