.site-header {
    height: 60px;
    padding: 0.5rem 1rem;
    background: $color__background-templates;
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            background: url(../../assets/logo/logo-white.no.text.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 45px;
            width: 50px;
        }
    }
}

.menu-toggle {
    background: url(../../assets/mobile_hamburger.png);
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    height: 31px;
    width: 41px;
    outline: none;
}

.menu-click {
    position: fixed;
    top: 106px;
    right: 0;
    background-color: rgba(0,0,0, 0.9);
    height: 100vh;
    width: 100%;
}

.nav-overlay {
    display: flex !important;
    flex-direction: column !important;
}