.site-header {
    height: 60px;
    padding: 0.5rem 1rem;
    background: $color__background-templates;
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            background: url(../../images/logo/ww_logo_white_textless.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 45px;
            width: 50px;
        }
    }
}