// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Footer
@mixin faq-button {
	width: 30%;
	border: 1px solid #fff;
	color: #fff;

}

// Media query
@mixin media($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

// Absolute center position
@mixin absolute-center-position {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

// Homepage white border
@mixin corner-border-style {
  background-image: linear-gradient(to right, #fff 20%, rgba(255, 255, 255, 0) 20%);
  background-size: 1205px 2.5px;
  background-repeat: repeat-x;
}
<<<<<<< HEAD

// Button template
@mixin button-template {
    text-align: center;
    button {
    	padding: 0.7rem 2.5rem;
      border: 3px solid #172944 ;
      background: rgba(23, 41, 68, 0.36);
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
}

//Styling for desktop program thumbnails
@mixin desktop-thumbnail-size {
  background-size: 430px 480px;
  background-position: 51% 52%;
}

//Styling for desktop program larger thumbnails
@mixin desktop-thumbnail-larger-size {
	background-size: 430px 535px;
  background-position: 51% 52%;
} 

//Styling for desktop program titles
@mixin desktop-program-header-right-position {
	position: absolute;
  top: 8rem;
  left: 1.5rem;
}

//Stying for standard desktop program titles
@mixin desktop-program-header-standard-position {
	position: absolute;
  top: 8rem;
}
=======
>>>>>>> Finished about me functionality
