/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* About page */

.about-header-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    align-items: center;
    position: relative;
    margin-bottom: 6rem;
    height: 35vh;
}

.name-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: auto 0;
}

.about-background-image {
    background: url("../../assets/images/desktop/about/background-about-me.jpg") no-repeat;
    height: 480px;
    width: 100%;
}

.bruce-feature {
    position: absolute;
    background: url("../../assets/images/desktop/homepage/bruce-oval.jpg");
    height: 120px;
    width: 120px;
    border-radius: 50%;
    bottom: 2.9rem;
    background-position: 44% 39%;
    img {
    object-fit: cover;
    }
}

.about-nav-wrapper {
    display: flex;
    justify-content: center;
}
.etabs {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
     }
.tab {
    background: $color__background-templates;
    border: solid 1px #999;
    border-bottom: none;
    width: 6rem;
    height: 40px;
    text-align: center;
    margin: 0 0.1rem;
    }
.tab a {
    font-size: 0.8rem;
    outline: none;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 2rem;
    }
.tab a:hover {
    text-decoration: underline;
    }
.tab.active {
    background: magenta;
    padding-top: 6px;
    position: relative;
    top: 1px;
    border-color: #666;
    }
.tab a.active {
    font-weight: bold;
    }
.tab-container .panel-container {
    background: #b9cad8;
    margin-left: auto;
    margin-right: auto;
    }

/* Footer template */

footer {
    display: flex;
    justify-content: center;
        background-color: $color__background-templates;
        .footer-wrapper {
            max-width: 275px;
            margin: 0 auto;
            justify-content: center;
        }
        .newsletter-info-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        .inner-form-wrapper {
            position: relative;
            width: 250px;
        .newsletter-form {
                border-radius: 0;
            }
        .newsletter-submit-button {
            position: absolute;
            right: 0;
            top: 0;
            width: 6rem;
            height: 2rem;
            background: #b9cad8;
            color: $color__background-templates;
        }
        }
            a {
                color: $color__white-text;
                font-size: 0.5rem;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
        .button-wrapper {
            display: flex;
            justify-content: center;
        .faq-button {
            text-align: center;
            @include faq-button;
            background: transparent;
            box-shadow: 0;
            text-transform: uppercase;
            margin-bottom: 2rem;
            font-size: 1.25rem;
        }
        }
        .social-media-icons-wrapper {
            display: flex;
            justify-content: space-around;
            margin-bottom: 2rem;
        }
        img {
            height: 50px;
            width: 50px;
        }
        .instagram-icon {
            background: url(../../assets/icons/social-media/instagram.svg) no-repeat;
        }
        .facebook-icon {
            background: url(../../assets/icons/social-media/fb.svg) no-repeat;
        }
        .vimeo-icon {
            background: url(../../assets/icons/social-media/vimeo.svg) no-repeat;
        }
    }
