/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
        // <h2>Overview</h2>
        // <?php echo CFS()->get('overview'); ?>
        // <h2>My Story</h2>
        // <?php echo CFS()->get('my_story'); ?>
/* About page */

.etabs {
    margin: 0;
    padding: 0;
     }
.tab {
    display: inline-block;
    zoom:1;
    *display:inline;
    background: #eee;
    border: solid 1px #999;
    border-bottom: none;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    }
.tab a {
    font-size: 14px;
    line-height: 2em;
    display: block;
    padding: 0 10px;
    outline: none;
    }
.tab a:hover {
    text-decoration: underline;
    }
.tab.active {
    background: magenta;
    padding-top: 6px;
    position: relative;
    top: 1px;
    border-color: #666;
    }
.tab a.active {
    font-weight: bold;
    }
.tab-container .panel-container {
    background: #b9cad8;
    border: solid #666 1px;
    padding: 10px;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
    }

/* Footer template */

footer {
    display: flex;
    justify-content: center;
        background-color: $color__background-templates;
        .footer-wrapper {
            max-width: 275px;
            margin: 0 auto;
            justify-content: center;
        }
        .newsletter-info-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        .inner-form-wrapper {
            position: relative;
            width: 250px;
        .newsletter-form {
                border-radius: 0;
            }
        .newsletter-submit-button {
            position: absolute;
            right: 0;
            top: 0;
            width: 6rem;
            height: 2rem;
            background: #b9cad8;
            color: $color__background-templates;
        }
        }
            a {
                color: $color__white-text;
                font-size: 0.5rem;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
        .button-wrapper {
            display: flex;
            justify-content: center;
        .faq-button {
            text-align: center;
            @include faq-button;
            background: transparent;
            box-shadow: 0;
            text-transform: uppercase;
            margin-bottom: 2rem;
            font-size: 1.25rem;
        }
        }
        .social-media-icons-wrapper {
            display: flex;
            justify-content: space-around;
            margin-bottom: 2rem;
        }
        img {
            height: 50px;
            width: 50px;
        }
        .instagram-icon {
            background: url(../../assets/icons/social-media/instagram.svg) no-repeat;
        }
        .facebook-icon {
            background: url(../../assets/icons/social-media/fb.svg) no-repeat;
        }
        .vimeo-icon {
            background: url(../../assets/icons/social-media/vimeo.svg) no-repeat;
        }
    }
